<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/ico" href="resources/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script src="js/lib/angular.min.js" type="text/javascript"></script>
    <script src="js/lib/angular-cookies.min.js" type="text/javascript"></script>
    <script src="js/application.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body ng-app = "pathCreation" class="container">
<div class="row" ng-controller="charCtrl">
    <div class = "col-md-8">
        <h1>Section de création</h1>

        <div class="animate-show text-justify" ng-show = "state===0">
            <p>Bienvenue dans l'outil de création de personnage pour le jeu de rôle PathFinder ! (Compatible Donjon & Dragon !)
                <br/>
                Avant de démarrer, soyez sûrs d'avoir un bon quart d'heure devant vous. Comme je suis un feignant je n'ai pas encore fait de système de sauvegarde.
                <br/>
                Lisez bien les instructions, et appelez moi si vous voulez des informations supplémentaires. Certaines définitions sont affichées lorsque vous passez la souris dessus.

                <br/>
                Bisous!
            </p>
            <button class="btn btn-primary" ng-click = "next()"> Démarrer </button>
        </div>
        <div class="check-element animate-show text-justify" ng-show = "state === 1">
            <h3>Choix de l'identité du personnage</h3>
            Dans cette section, vous devrez choisir les premières caractéristiques de votre personnage ! C'est super important !
            Tachez de choisir un nom qui soit agréable à porter, car ce sera le votre durant nos parties de Donjon & Dragon ;-)
            <br/>
            <br/>
            Vous devez savoir que pendant une partie, vous parlerez à la place de votre personnage, et vos coéquipiers vous appeleront donc par ce pseudonyme.
            Donc évitez les noms qui ne sont pas réalistes, comme "Pénis d'Ours", ou "Jean Claude Van Damme". Vous pouvez vous inspirer de nombreux univers fantaisistes
            (Seigneur des anneaux, The Witcher, Warcraft ...). Il existe des <a href="https://www.fantasynamegen.com/" onclick="window.open(this.href); return false;">sites</a> qui génèrent des noms par ailleurs.
            <br/>
            <br/>
            <div class="form-group">

                Nom: <input type="text" ng-model="name" class="form-control"/> <br/>
                Âge: <input type="text" ng-model="age" class="form-control"/> <br/>
                Sexe:
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" ng-model="sex" value="Homme" checked>
                        Oui
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" ng-model="sex" value="Femme">
                        Non
                    </label>
                </div>
            </div>
            <div class="center-block"><button class="btn btn-default" ng-click = "previous()"> Précédent </button> <button class="btn btn-default" ng-click = "next()"> Suivant </button></div>
        </div>
        <div ng-show="state === 2" class="text-justify">
            <h3>Choix de la race</h3>
            Dans cette partie, vous devrez choisir la race de votre personnage. C'est un choix très difficile puisqu'il influe sur de nombreuses caractéristiques capitales pendant une partie !
            Les races apportent de nombreux bonus, en plus de ceux présentés ici. Vous pouvez en apprendre plus <a href = "http://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.Races.ashx" onclick="window.open(this.href); return false;">ici.</a><br/>
            <button type="button" class="btn btn-primary" ng-click="getSpecies()">Afficher les races</button>

            <repeater ng-repeat="specie in species" ng-model="specie">
                <h2>{{specie.name}}  </h2>
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://www.pathfinder-fr.org/wiki/public/upload/Illustrations/PNJ/{{specie.name}}.jpg">
                    </div>
                    <div class="col-md-6">
                        Taille : {{specie.height}} <br/>
                        Vitesse: {{specie.speed}} pieds / seconde <br/>
                        Trait: {{specie.trait}} <br/><br/>
                        <button ng-click="setSpecie(specie)">Je veux être un {{specie.name}} !</button>
                    </div>
                </div>

                <br/>

                <span class="center-block">Description:<button ng-click="setTrue(specie)" ng-if="!specie.state">Afficher</button>
                <button ng-click="setFalse(specie)" ng-if="specie.state">Cacher</button></span>
                <br/>
                <div ng-if="specie.state" class="text-justify">
                    Physique: {{specie.description}} <br/><br/>
                    Société: {{specie.societe}} <br/><br/>
                    Relations: {{specie.relation}} <br/><br/>
                    Alignement: {{specie.alignement}} <br/><br/>
                    Aventure: {{specie.aventure}} <br/><br/>
                </div>
            </repeater>

            <div class="center-block"><button class="btn btn-default" ng-click = "previous()"> Précédent </button> <button class="btn btn-default" ng-click = "next()"> Suivant </button></div>
        </div>

        <div ng-show="state === 3" class="text-justify">
            <h3>Choix de la classe</h3>
            Ici, vous devrez choisir une classe. C'est sans doute le choix le plus difficile, et qui va décider votre manière de jouer.
            Les classes définissent en quelque sorte le métier de votre personnage. Votre rôle peut être de massacrer vos ennemis, d'encourager vos alliés, de les protéger,
            ou même d'invoquer des créatures ! Chaque classe possède ses avantages, et vous apporte des bonus dans plusieurs compétences.
            <button type="button " class= "btn btn-primary" ng-click="getClasses()">Afficher les classes</button>

            <repeater ng-repeat="class in classes" ng-model="class" class="row">
                <h2>{{class.name}}</h2>
                <div class="col-md-4">
                    <img src="http://www.pathfinder-fr.org/wiki/public/upload/Illustrations/PNJ/{{class.name}}.jpg">
                </div>
                <div class="col-md-8" class="text-justify">
                    Description : {{class.description}} <br/>

                    <br/>
                    <span title="Permet d'apprendre des compétences, comme l'équitation, ou bien l'escalade.">Points de compétence: </span>{{class.skillsByLevel}} <br/>
                    <span title="L'attaque représente l'habileté au combat">Bonus à l'attaque: </span>{{class.BBA}} <br/>
                    <span title="Permet de se tirer plus facilement de situations inattendues">Réflexe:</span> {{class.reflex}} <br/>
                    <span title="Permet de resister à la douleur, quand sa santé est en danger">Vigueur:</span> {{class.vigor}} <br/>
                    <span title="Permet de resister aux envoutements, et autres tentatives d'ensorcelement ">Volonté:</span> {{class.will}} <br/>
                    <span title="Correspond à vos points de vie de départ. Ils déterminent votre endurance ">Vie:</span> {{class.life}} <br/>

                    <button ng-click="setClass(class)">Je veux être un {{class.name}} !</button>
                </div>
            </repeater>
            <div class="center-block"><button class="btn btn-default" ng-click = "previous()"> Précédent </button> <button class="btn btn-default" ng-click = "next()"> Suivant </button></div>
        </div>

        <div ng-show="state === 4" class="text-justify" >
            <h3>Répartition des caractéristiques</h3>
            Dans cette section, vous allez pouvoir choisir les caractéristiques de votre personnage. Elles vont définir les aptitudes générales de votre personnage: Sa force, son intelligence,
            sa sagesse, son charisme, sa dexterité, et sa constitution.

            <br/>

            Afin de répartir vos charactéristiques, vous avez un capital de 15 points, permettant d'acheter des caractéristiques. Plus votre caractéristique est élevée, et plus c'est cher !
            <br/>
            <br/>
            Et surtout, n'essayez pas d'avoir des statistiques équilibrées, si vous êtes un sorcier, ne cherchez pas à avoir beaucoup de force ! Il vaut mieux être bon quelque part, que mauvais en tout. Vous en saurez plus <a href="http://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.Caract%C3%A9ristiques.ashx" onclick="window.open(this.href); return false;">ici</a><br/>
            <br/>
            <b>Force</b> : Représente la puissance musculaire et physique. <br/>
            <b>Dextérité</b>: Représente l'agilité, les réflèxes et l'équilibre.<br/>
            <b>Constitution</b>: Représente la santé et l'endurance de votre personnage.<br/>
            <b>Intelligence</b>: Représente la capacité d'apprentissage, et de raisonnement.<br/>
            <b>Sagesse</b>: Mesure la volonté, le bon sens, la capacité de percevoir et l'intuition.<br/>
            <b>Charisme</b>: Représente la personnalité, la capacité à diriger et l'apparence.<br/>
            <br/>Capital: {{capital}}<br/>
        <repeater ng-model="charValues">
            <div ng-repeat="char in chars" class="row" >
                <span class="col-md-4">{{char}} :</span>
                <span class="col-md-4"><button ng-click="decrease(char)">-</button> {{charValues[char]}} <button ng-click="increase(char)">+</button></span>
                <span class="col-md-4"> Prix : {{charPrice[charValues[char]+1]}}</span>
            </div>
        </repeater>
            <div class="center-block"><button class="btn btn-default" ng-click = "previous()"> Précédent </button> <button class="btn btn-default" ng-click = "next()"> Suivant </button></div>
        </div>

        <div ng-show="state === 5" class="text-justify">
            <h3>Choix des compétences</h3>
            Dans cette section vous devrez répartir vos points de compétence. Des compétences en sabotage vous permettront de désamorcer des pièges,
            et éviter de mourir bêtement. Le bluff vous permettra de mentir, et ainsi peut-être débloquer des informations clés pour l'aventure ! Plus votre compétence est élevée, moins vous aurez de difficultés à vous en servir.
            Choisissez bien !
            <br/>
            Par ailleurs, chaque classe a des avantages dans des compétences, et chaque point réparti dans cette compétence l'améliorera de trois niveaux !
            <br/>
            Passez la souris sur la compétence pour plus d'informations à son sujet.
            <br/><br/>
            <div class="row">
                <button class="col-md-4 btn btn-primary" ng-click="getSkills()">Afficher les compétences</button> <span class="col-md-2"></span> <span class="col-md-4">Capital: {{skillCap}}</span>
            </div>
            <br/>

            <div class="row">
                <span class="col-md-3"><b>Compétence</b></span>
                <span class="col-md-7"><b>Classes ayant un bonus</b></span>
                <span class="col-md-2"><b>Niveau</b></span>
            </div>
            <HR>
            <div ng-repeat="skill in skills">
                <div class="row">
                    <span class="col-md-3" title="{{skill.description}}">{{skill.name}}: </span>
                    <div class="col-md-7">
                        <span ng-repeat="class in skill.classes">{{class}}</span>
                    </div>
                    <span class="col-md-2"><button ng-click="decreaseSkill(skill)">-</button>{{skill.level}}<button ng-click="increaseSkill(skill)">+</button></span>
                </div>
                <HR>
            </div>

            <div class="center-block"><button class="btn btn-default" ng-click = "previous()"> Précédent </button> <button class="btn btn-default" ng-click = "next()"> Suivant </button></div>
        </div>
        <div ng-show="state === 6" class="text-justify row">
            <h3>Choix des équipements</h3>
            Ici, vous devrez choisir l'équipement avec lequel vous commencerez l'aventure. Essayez de choisir un équipement cohérent avec votre personnage ! Pas la peine de mettre une grosse armure à un magicien, ou de donner un bâton à un barbare !
            Evidemment, votre personnage porte un vêtement de base. Vous ne serez pas tout nu si vous n'avez pris aucune armure.
            <br/>
            Vous avez un capital de 100 pièces d'or à répartir dans votre équipement. Pensez à tout !<br/><br/>
            <button class="col-md-4 btn btn-primary" ng-click="getEquipments() ">Afficher les équipements</button>
            <button class="col-md-4 btn btn-primary" ng-click="clear()">Vider le panier</button>
            <button class="col-md-4 btn btn-primary">{{golds}} po</button>
            <br/>
            <HR>
            <div class="container-fluid ">
                <button class="btn col-md-3" ng-click="switchWeapons()">Armes</button>
                <div class="col-md-12" ng-show="showWeapons">
                    <span class="col-md-4 label label-default">Nom</span><span class="col-md-2 label label-default" title="1d4 signifie qu'on lance un dé à quatre faces pour calculer les dégats. 2d6, deux dés à six faces. Attention ! ça ne veut pas dire que les armes à deux mains sont les meilleures !">Dégâts</span><span class="col-md-3 label label-default" title="P: Perforant, C: Contondant, T: Tranchant">Type</span><span class="col-md-3 label label-default">Prix</span>
                </div>
                <div class="col-md-12 row" ng-show="showWeapons" ng-repeat="weapon in weapons">
                    <div class="row" class="bg-warning">
                        <span class="col-md-4" title="{{weapon.description}}">{{weapon.name}}</span>
                        <span class="col-md-2 text-center" title="1d4 signifie qu'on lance un dé à quatre faces pour calculer les dégats. 2d6, deux dés à six faces. Attention ! ça ne veut pas dire que les armes à deux mains sont les meilleures !">{{weapon.damage}}</span>
                        <span class="col-md-3 text-center" title="P: Perforant, C: Contondant, T: Tranchant">{{weapon.type}}</span>
                        <span class="col-md-2 text-center">{{weapon.price}} Po</span>
                        <span class="col-md-1 text-center"><button class="btn" ng-click="buy(weapon)">+</button></span>
                    </div>
                    <HR>
                </div>
            </div>
            <br/>
            <HR>
            <div class="container-fluid">
                <button class="btn col-md-3" ng-click="switchArmors()">Armures</button>
                <div class="col-md-12" ng-show="showArmors">
                    <span class="col-md-3 label label-default">Nom</span><span class="col-md-1 label label-default" title="C'est le bonus à l'armure que donne l'équipement. Vous ne pouvez équiper qu'une armure et un bouclier à la fois.">CA</span><span class="col-md-1 label label-default" title="Certaines armures sont tellement encombrantes qu'elles empêchent vos mouvements. ">Dexterité Max</span><span class="col-md-1 label label-default" title="Ce chiffre représente le malus lors des tests liés à la dextérité et à la force, comme la natation ou l'escalade">Pénalité</span><span class="col-md-2 label label-default" title="L'armure vous encombre et vous empêche de bien effectuer vos gestes lorsque vous lancez votre sort.">Echec des sorts</span><span class="col-md-2 label label-default">Prix</span>
                </div>
                <div class="col-md-12 row" ng-show="showArmors" ng-repeat="armor in armors">
                    <div class="col-md-11">
                    	<div class="row">
                    	<span class="col-md-4 " title="{{armor.description}}">{{armor.name}}</span>
                        <span class="col-md-1 text-center">{{armor.CA}}</span>
                        <span class="col-md-1 text-center">{{armor.maxDex}}</span>
                        <span class="col-md-1 text-center">{{armor.testPenalty}}</span>
                        <span class="col-md-2 text-center">{{armor.spellFailure}} %</span>
                        <span class="col-md-2 text-center">{{armor.price}} Po</span></div>
                        <HR>
                    	</div>                    	
                    <div class="col-md-1">                    
                        <span><button class="btn" ng-click="buy(armor)">+</button></span>
                    </div>
                    <HR>                    
                </div>                
            </div>
            <br/>
            <HR>                    
            <div class="center-block"><button class="btn btn-default" ng-click = "previous()"> Précédent </button> <button class="btn btn-default" ng-click = "next()"> Suivant </button></div>
        </div>
    </div>
    <div class = "col-md-4">
        <h1>Votre personnage</h1>
        Nom: {{name}} <br/>
        Âge: {{age}}  <br/>
        Sexe: {{sex}}  <br/>
        Race: {{specieChosen.name}} <br/>
        Classe: {{classChosen.name}} <br/>
        <div ng-repeat = "char in chars">
            {{char}}: {{charValues[char]}} <br/>
        </div>
    </div>
</div>

</body>
</html>
